{% extends 'layout.html' %}
{% block main %}
      
<div class="row">
  {%  if error %}
      <div class="col-md-8 col-md-push-1 alert alert-dismissible alert-danger">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <strong>ERROR<br/></strong>{{ error }}<br/>Try again.
      </div>
  {%  endif %}
  <div class="col-md-8 col-md-push-1 list-group">
    <legend class="page-header">Events found</legend>
    {% for event in events %}


        <a class="list-group-item">
          <b>{{event.title}}</b>
          <br/>{{event.description}}
          <br/>{{event.start}} - {{event.end}}
          <br/><span class="small">[{{ event.comments|length }} comments]</span>
        </a>


    {% endfor %}

  </div>

  
</div>


{% endblock %}
